<!-- Bottom buttons /-->
<footer class="footer fixed-bottom mt-auto bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <button class="col-sm-2 btn btn-footer dark btn-lg btn-block" style="border-radius: 0px;" id="btnMenuBack"><i class="bi bi-arrow-left" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-2 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuCamera"><i class="bi bi-camera" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-2 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuSongBack"><i class="bi bi-chevron-double-left" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-2 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuSongPlay"><i class="bi bi-caret-right" id="PlayerIco" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-2 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuSongNext"><i class="bi bi-chevron-double-right" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-2 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuClimate"><i class="bi bi-thermometer-sun" style="font-size: 2rem;"></i></button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <button class="col-sm-4 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuMusic"><i class="bi bi-music-note-beamed" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-4 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnMenuCarState"><i class="bi bi-car-front" style="font-size: 2rem;"></i></button>
                    <button class="col-sm-4 btn btn-footer btn-lg btn-block" style="border-radius: 0px;" id="btnScreenOff"><i class="bi bi-moon" style="font-size: 2rem;"></i></button>
                </div>
            </div>
        </div>
      </div>
</footer>