<nav class="py-2 navbar-dark bg-dark2 text-light">
    <div class="container-fluid">
        <div class="row text-center text-bold"  style="font-size: 1.5rem;">
            <div class="col-sm-4">
                <span id="tempCPUNav">N/A</span>
                <i id="tempWarningIcon" class="bi bi-exclamation-triangle-fill" style="display: none; color: red; font-size: 1.2rem;"></i>
                <i class="bi bi-thermometer" style="font-size: 1.2rem;"></i>
            </div>
            <div class="col-sm-4">
                <i id="scmConnectionIcon" class="bi bi-plug" style="display: none; font-size: 1.2rem;"></i>
                <span>&nbsp;</span>
                <i id="ethernetIcon" class="bi bi-ethernet" style="display: none; font-size: 1.2rem;"></i>
                <span>&nbsp;</span>
                <i id="wifiIcon" class="bi bi-wifi wifi-icon" style="display: none; font-size: 1.2rem;"></i>
                <span id="wifiSignalStrength" class="signal-strength"></span>
                <span>&nbsp;</span>
                <i id="usbIcon" class="bi bi-usb" style="display: none; font-size: 1.2rem;"></i>
                <span>&nbsp;</span>
                <i id="pingIcon" class="bi bi-arrow-up-right-circle" style="display: none; font-size: 1.2rem;"></i>
                <span>&nbsp;</span>
                <i id="gpsIcon" class="bi bi-geo-alt" style="display: none; font-size: 1.2rem;"></i>
            </div>
            <div class="col-sm-4 text-right">
                <span id="tempNav">N/A</span>
                <span>&nbsp;</span>
                <span id="clockNav">N/A</span>
            </div>
        </div>
    </div>
</nav>