<div class="keyboard-container" id="keyboard">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key">1</div>
                <div class="col-auto keyboard-key">2</div>
                <div class="col-auto keyboard-key">3</div>
                <div class="col-auto keyboard-key">4</div>
                <div class="col-auto keyboard-key">5</div>
                <div class="col-auto keyboard-key">6</div>
                <div class="col-auto keyboard-key">7</div>
                <div class="col-auto keyboard-key">8</div>
                <div class="col-auto keyboard-key">9</div>
                <div class="col-auto keyboard-key">0</div>
            </div>
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key">Q</div>
                <div class="col-auto keyboard-key">W</div>
                <div class="col-auto keyboard-key">E</div>
                <div class="col-auto keyboard-key">R</div>
                <div class="col-auto keyboard-key">T</div>
                <div class="col-auto keyboard-key">Y</div>
                <div class="col-auto keyboard-key">U</div>
                <div class="col-auto keyboard-key">I</div>
                <div class="col-auto keyboard-key">O</div>
                <div class="col-auto keyboard-key">P</div>
            </div>
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key">A</div>
                <div class="col-auto keyboard-key">S</div>
                <div class="col-auto keyboard-key">D</div>
                <div class="col-auto keyboard-key">F</div>
                <div class="col-auto keyboard-key">G</div>
                <div class="col-auto keyboard-key">H</div>
                <div class="col-auto keyboard-key">J</div>
                <div class="col-auto keyboard-key">K</div>
                <div class="col-auto keyboard-key">L</div>
            </div>
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key">Z</div>
                <div class="col-auto keyboard-key">X</div>
                <div class="col-auto keyboard-key">C</div>
                <div class="col-auto keyboard-key">V</div>
                <div class="col-auto keyboard-key">B</div>
                <div class="col-auto keyboard-key">N</div>
                <div class="col-auto keyboard-key">M</div>
            </div>
        </div>
        <!-- Oddzielna kolumna dla klawiszy Backspace, Enter i Spacebar -->
        <div class="col-auto">
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key backspace-key">Backspace</div>
            </div>
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key enter-key">Enter</div>
            </div>
            <div class="row keyboard-row">
                <div class="col-auto keyboard-key spacebar-key">Spacebar</div>
            </div>
        </div>
    </div>
</div>