.bg-dark2{
	background-color: #000000 !important;
}

.bg-brown{
	background-color: #3D0000 !important;
}

.bg-darkred{
	background-color: #950101 !important;
}

.bg-red{
	background-color: #FF0000 !important;
}