#menuTile{
    margin-top: 10px;
}

.btn-tile{
    font-size: 1.5rem;
	margin-top: 5px;
	border-radius: 40px;
    width: 100%;
}

.sysinfo{
    height: 435px;
    overflow-y: scroll;
}

/* Dostosowanie paska przewijania */
.sysinfo::-webkit-scrollbar {
    width: 8px; /* Szerokość paska przewijania */
}

.sysinfo::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* Kolor kciuka przewijania */
    border-radius: 10px; /* Zaokrąglenie rogów kciuka przewijania */
}


.logs-scrollable {
    height: 435px !important;
    overflow-y: scroll !important;
}

.logs-scrollable::-webkit-scrollbar {
    width: 8px !important;
}

.logs-scrollable::-webkit-scrollbar-thumb {
    background-color: #6c757d !important;
    border-radius: 10px !important;
}






.screen-control {
    position: fixed;
    bottom: 66px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.screen-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.screen-button i {
    margin-right: 8px;
}

.screen-button.active {
    background-color: #0056b3;
}

.screen-button:hover {
    background-color: #0056b3;
}

.icon {
    font-size: 16px;
}

.icon-screen1::before {
    content: '\f108';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.icon-screen2::before {
    content: '\f109';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.icon-screen3::before {
    content: '\f10a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

  







.text-bold {
    font-weight: bold;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
          font-size: 3.5rem;
    }
}
#video {
    width: 626px;
    height: 470px;
}

.camera {
    display: grid;
    place-items: center; /* Centrowanie wideo */
}