#menuTile{
    margin-top: 10px;
}

.btn-tile{
    font-size: 1.5rem;
	margin-top: 5px;
	border-radius: 40px;
    width: 100%;
}

.round{
    border-radius: 1rem !important;
}

.align-strech{
    align-items: stretch !important;
}

.text-bold {
    font-weight: bold;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
          font-size: 3.5rem;
    }
}
#video {
    width: 626px;
    height: 470px;
}

.camera {
    display: grid;
    place-items: center; /* Centrowanie wideo */
}





.sysinfo{
    height: 435px;
    overflow-y: scroll;
}

.sysinfo::-webkit-scrollbar {
    width: 8px;
}

.sysinfo::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}



#fileList{
    height: 435px;
    overflow-y: scroll;
}

#fileList::-webkit-scrollbar {
    width: 8px;
}

#fileList::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}




#logs-scrollable {
    max-height: 435px !important;
    overflow-y: scroll !important;
}

#logs-scrollable::-webkit-scrollbar {
    width: 8px !important;
}

#logs-scrollable::-webkit-scrollbar-thumb {
    background-color: #6c757d !important;
    border-radius: 10px !important;
}



.dashcam_files {
    max-height: 435px !important;
    overflow-y: scroll !important;
}

.dashcam_files::-webkit-scrollbar {
    width: 8px !important;
}

.dashcam_files::-webkit-scrollbar-thumb {
    background-color: #6c757d !important;
    border-radius: 10px !important;
}





.screen-control {
    position: fixed;
    bottom: 66px;
    left: 25%;
    background-color: #50555a !important;
    display: flex;
    justify-content: center;
    padding: 10px 2px;
    border-radius: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.screen-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.screen-button i{
    font-size: 1.4rem;
}

.screen-button.active {
    background-color: #0056b3;
}

.screen-button:hover {
    background-color: #0056b3;
}
  



#menuSpotify{
    min-height: 435px !important;
    max-height: 435px !important;
}

.episodes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.episode {
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.episode:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}