#navDiv {
    border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: .25rem !important;
	border-bottom-right-radius: .25rem !important;
    height: 500px;
    overflow-y: auto; /* Dodaje pasek przewijania tylko w przypadku potrzeby */
}

.card {
    border: none;
}

.card h3 {
    color: #ffcc00;
}

.card p {
    color: #ffffff;
}

input[type="text"] {
    background-color: #282828;
    color: #ffffff;
    border: none;
}

input[type="text"]::placeholder {
    color: #6c757d;
}

button {
    background-color: #6c757d;
    border: none;
}

button:hover {
    background-color: #495057;
}